<div class="ui dropdown link item" id="signin">
    <i class="sign in icon"></i>登录
    <div class="ui menu">
        <a class="active item" href="/auth/github">
            <i class="github sign  icon"></i>GitHub
        </a>
        <a class="item" href="/auth/weibo">
            <i class="weibo icon"></i>微博
        </a>
    </div>
</div>